<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Robinho</title>

    <!-- Custom fonts for this template-->
    <link href="{{url_for('static', filename='css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{url_for('static', filename='css/sb-admin-2.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{{url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{url_for('dashboard')}}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-robot"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Robinho</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('dashboard')}}">
                    <i class="fas fa-fw fa-video"></i>
                    <span>Transmissão</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Tarefas -->
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('tarefa_professor')}}">
                    <i class="fas fa-fw fa-tasks"></i>
                    <span>Tarefas</span>
                </a>
            </li>

            <!-- Nav Item - Lista de espera -->
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('lista_espera')}}">
                    <i class="fas fa-fw fa-spinner"></i>
                    <span>Lista de espera</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">


                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.user_acc}}</span>
                                <img class="img-profile rounded-circle"
                                     src="{{url_for('static', filename='img/undraw_profile.svg')}}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="mb-2 text-gray-800">Lista de espera</h1>

                    <div class="row form-group">
                        <div class="col-md-12 text-right">
                            <a href="#" class="btn btn-info btn-icon-split" style="margin-bottom:10px;" onclick="javascript: window.location.reload();">
                                <span class="icon text-white-50">
                                    <i class="fas fa-retweet"></i>
                                </span>
                                <span class="text">Atualizar</span>
                            </a>
                            <a href="#" class="btn btn-info btn-lg" onclick="javascript: genius();">
                                <i class="fas fa-traffic-light"></i>
                            </a>
                            <script>
                                function genius(){
                                    $.ajax({
                                        type: "POST",
                                        cache: false,
                                        url: "/genius",
                                    })
                                }
                            </script>
                            <a href="#" class="btn btn-warning btn-lg" onclick="javascript: robinho_dequeue();">
                                <i class="fas fa-ban"></i>
                            </a>
                            <script>
                                function robinho_dequeue() {
                                    $.ajax({
                                        type: "POST",
                                        cache: false,
                                        url: "/dequeue",
                                    })
                                }
                            </script>
                            <a href="#" class="btn btn-success btn-lg" onclick="robinho_send()">
                                <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
                                <script>
                                    function robinho_send() {
                                        $.ajax({
                                            type: "POST",
                                            url: "/sendmain",
                                            // data: $("#blocklyCode")[0].innerText
                                        })
                                    }
                                </script>
                                <i class="fas fa-play"></i>
                            </a>
                        </div>
                    </div>

                    <!-- Tabela de tarefas -->
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="listaDeEspera" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th style="width:1px;" class="text-center">Ações</th>
                                            <th style="width:1px;">Posição</th>
                                            <th class="text-center">Usuário</th>
                                            <th class="text-center">Tarefa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for q in queue %}
                                        <tr>
                                            <td></td>
                                            <td class="text-center">{{loop.index}}</td>
                                            <td class="text-center">{{q.Rob_Queue.user_name}}</td>
                                            <td class="text-center">Tarefa {{q.Rob_Tasks.task_order}} - {{q.Rob_Tasks.task_name}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Robinho 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{{url_for('login')}}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{url_for('static', filename='js/sb-admin-2.min.js')}}"></script>

    <!-- Page level plugins -->
    <script src="{{url_for('static', filename='vendor/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>

    <!-- Page level custom scripts -->
    <script src="{{url_for('static', filename='js/demo/datatables-demo.js')}}"></script>

    <script>
        $(document).ready(function () {
            var table = $('#listaDeEspera').DataTable({
                columnDefs: [
                    {
                        targets: -4,
                        data: null,
                        defaultContent: '<div style="display: flex;"><a href="#" class="btn btn-sm"><i class="fas fa-times"></i></a>' +
                            '<a href="#" class="btn btn-sm"><i class="fas fa-sort"></i></a>' +
                            '<a href="#" class="btn btn-sm"><i class="fas fa-star"></i></a></div>',
                    },
                ],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
                }
            });
        });
    </script>

</body>

</html>